= link_to  board_path(board), class: "text-decoration" do
  .card
    .card_title
      = board.title
    .card_content
      = board.content
    .card_name

    
      
    = image_tag board.user.avatar_image, class: "avatar_image_index"
        