%h1.all_boards All Boards

.container
  - @boards.each do |board|
    = render 'commons/board', board: board
  
  .add_new_card
    = link_to new_board_path do
      .add_new_card_text
        + Add new board