@import './variables';

.btn-primary {
    width: 362px;
    height: 40px;

    background: #F8BD1C;
    border-radius: 4px;
    // transform: matrix(1, 0, 0, -1, 0, 0);
}

.profile-edit-btn {
    text-decoration: none;
    border: solid;
    border-radius: 4px;
    background: #F8BD1C;
    color: black;
    border-color: #F8BD1C;

}