.card {
    // position: absolute;
    // width: 362px;
    // height: 161px;
    // left: 30px;
    // top: 161px;
    position: relative;
    left: 30px;
    

    background: rgb(233, 232, 232);
    border-radius: 10px;
    margin-top: 24px;
    height: 185px;
    width: 362px;
    

    &_title {
        // position: absolute;
        // height: 25px;
        // left: 0%;
        // right: 76.79%;
        // top: calc(50% - 25px/2 - 12.5px);
        position: relative;
        top: 10px;
        left: 10px;
        
        
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;

        margin-top: 17;
        
        
        /* identical to box height */
        
        
        color: #000000;
    }

    &_content {
        // position: absolute;
        // height: 19px;
        // left: 0%;
        // right: 0%;
        // top: calc(50% - 19px/2 + 15.5px);
        position: relative;
        top: 30px;
        left: 15px;
        
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        
        color: #000000;
        
        mix-blend-mode: normal;
        // opacity: 0.4;
    }

    &_image {
        height: 180px;
        position: relative;
        overflow: hidden;
        

        // img {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   -webkit-transform: translate(-50%, -50%);
        //   -ms-transform: translate(-50%, -50%);
        //   transform: translate(-50%, -50%);
        //   width: 100%;
        // }
    }
}

.add_new_card {
    position: relative;
    width: 362px;
    height: 160px;
    left: 30px;
    top: 30px;

    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &_text {
        position: relative;
        top: 70px;
        

        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #000000;

    }
}

.container {
    margin-top: 21px;
}

.text-decoration {
    text-decoration: none;
}

.text-position {
    position: relative;
    left: 30px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;
}