.card {
    position: absolute;
    width: 362px;
    height: 161px;
    left: 30px;
    top: 161px;

    background: rgb(216, 215, 215);
    border-radius: 10px;
}

.add_new_card {
    position: absolute;
    width: 362px;
    height: 160px;
    left: 30px;
    top: 348px;

    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &_text {
        position: absolute;
        height: 25px;
        left: 0.35%;
        right: 0.35%;
        top: calc(60% - 25px/2);

        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #000000;

    }
}