.title_form {
    width: 362px;
    height: 40px;

    background: #F4F4F4;
    border-radius: 10px;
}

.content_form {
    width: 362px;
    height: 203px;

    background: #F4F4F4;
    border-radius: 10px;
}