

.header {
    display: flex;
    

    // &_avatar {
        
    //     position: absolute;
    //     width: 30px;
    //     height: 20px;
    //     left: 352px;
    //     top: 10px;
   
    // }

    &_border {
        position: absolute;
        width: 1920px;
        height: 1px;
        left: 0px;
        top: 50px;

        background: #000000;
        mix-blend-mode: normal;
        opacity: 0.1;
    }

    &_title {
        // position: absolute;
        // width: 56px;
        // height: 25px;
        // left: 30px;
        // top: 17px;
        position: relative;
        left: 30px;
        
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        

        color: #000000;

    }
}



.avatar_image {
    position: relative;
    top: 7px;
    left: 290px;
    
}

.avatar_image_index {
    position: relative;
    top: 80px;
    left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.login {
    text-decoration: none;

    position: relative;
    top: 18px;
    left: 260px;
}

.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

