.eyecatch {
    position: relative;
    top: 20px;

    width: 322px;
    height: 170px;

    border-radius: 8px;
}

.default_avatar {
    padding-top: 5px;
    height: 50px;
    float: right;
}

.profile_avatar_image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}



