.eyecatch {
    width: 50px;
}

.default_avatar {
    padding-top: 5px;
    height: 50px;
    float: right;
}

.avatar_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 50px;
    height: 70px;
    
    border-radius: 100%;
}

