.profile_name {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */


    color: #000000 ;
    
    position: relative;
    top: 30px;
    left: 90px;
} 

.profile-edit {
    position: relative;
    left: 0px;
    top: 0px;

}